.root {
    text-align: center;
    margin: 0 auto;
    span {
        font-size: 100px;
        color: rebeccapurple;
    }


}

.desc {
    text-align: center;
    font-size: 20px;
    margin: 2ex;
    background-color: aliceblue;
}